In [1]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
display(df.head())

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1       Kimia     81     laki-laki   12C
1         2      Fisika     57     perempuan   12C
2         3     Ekonomi      9     laki-laki   12D
3         4  Matematika     23     laki-laki   12D
4         5     Biologi      4     laki-laki   12C

# Soal 1: Indexing

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [ ]:
# code here
#kolom nilai dan kelas
df[['nilai','kelas']]

In [ ]:
#akses row 5 sampai 10 beserta column pelajaran dan nilai
df.iloc[4:10,1:3]

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [ ]:
# code here
# data siswa pada mata pelajaran Ekonomi dan Fisika
df[(df['pelajaran'] == 'Ekonomi') | (df['pelajaran'] == 'Fisika')]

In [ ]:
#data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia
df[(df['pelajaran'] == 'Kimia') & (df['nilai'] > 50)]

In [ ]:
#data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C
df[(df['kelas'] == '12C') & (df['nilai'] > 70) & (df['jenis-kelamin'] == 'perempuan')]

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [ ]:
# code here
df['nilai'] = (df['nilai'] - df.nilai.min())/(df.nilai.max() - df.nilai.min())
display(df)